@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Josefin+Sans:wght@100;300;400&family=Lato:wght@100&family=Old+Standard+TT:wght@400;700&family=Playfair+Display&display=swap');
@font-face {
    font-family: "Brandon Grotesque";
    src: url('../fonts/brandon/Brandon_bld.ttf');
}
html {
    font-family: "Brandon Grotesque",'Roboto', sans-serif;
    font-size: 0.6rem;
    color: #515151;
    scroll-behavior: smooth;
}
body {

}
img {
    width: 100%;
}

small {
    font-size: 0.75rem;
    letter-spacing: 2px;
    font-weight: 700;
}

section {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}
.bg-image{
    background: url("../img/bg/bg-prato.png") no-repeat center center;
    background-size: cover;
    height: 26rem;
    width: 100%;
}
.hline{
    max-width: 5.62rem;
    height: 1px;
    background: rgba(66, 86, 58, 0.6);
    margin: 0.3rem auto 0 auto;
}
nav{
    background-image: linear-gradient(to bottom, rgba(0,0,0, .5), transparent);
}
.nav-list{
    padding: 2rem;
}
.navbar-toggler-icon{
    border: none;
}

.nav-link {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: color .5s;
    margin-left: 0.6rem;
}

.nav-link:hover{
    color: gray;
}
/*nav end*/

#hero{
    background: #FFF9EF;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sub-headline {
    font-size: 6rem;
    font-family: 'Calligraffitti', cursive;
    color: #212529;
    font-weight: 100;
    line-height: .4;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: .5s;
}

.first-letter {
    text-transform: uppercase;
    font-size: 8.5rem;
}

.headline {
    color: #212529;
    font-size: 3rem;
    font-family: 'Cormorant Unicase', serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-right: -.5rem;
    animation: scale .5s forwards;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 100%;
    max-width: 8.4rem;
    height: .25rem;
    background-color: black;
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay: .9s;
}

.line-right::before,
.line-left::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
    opacity: 0;
    animation: grow .5s forwards;
    animation-delay: 1.2s;
}

.line-right::before {
    border-right-color:black;
    right: 0;
}

.line-left::before {
    border-left-color: black;
    left: 0;
}


.asterisk {
    font-size: 1.2rem;
    color: black;
    margin: 0 1.6rem;
    opacity: 0;
    animation: spin .5s forwards;
    animation-delay: .7s;
}

.single-animation {
    opacity: 0;
    animation: fadeDown .5s forwards;
    animation-delay: 1.5s;
}

.headline-description h5 {
    color: #000;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}
.btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}
.cta-btn {
    font-size: 1.1rem;
    background-color: #a5794d;
    padding: .9rem 1.8rem;
    color: black;
    border-radius: .4rem;
    transition: background-color .5s;
}

.cta-btn:hover,
.cta-btn:focus {
    color: lightgray;
    background-color: gray;
}

.global-headline {
    text-align: center;
    margin-top: 3.9rem;
}
#about{
    background: #FFF9EF;
}
#about .container h6{
    font-family: "Brandon Grotesque", Roboto, sans-serif;
    font-size: 1rem;
    align-items: center;
    color: #42563A;
    text-transform: uppercase;
    font-weight: 420;
}
#about .container p{
    align-items: center;
    font-weight: 400;
    font-size: 2rem;
    color: #42563A;
    font-family: Old Standard TT, serif ;
}
#about .container .row .col-12{
    margin: auto;
    max-width: 60%;
}
#services1 .container .row .col-lg-5 p {
    font-family: Old Standard TT, serif;
    font-size: 1.35rem;
}
#services1 .container .row .col-lg-5 h6{
    font-family: "Brandon Grotesque", Roboto, sans-serif;
    font-size: 1.35rem;
    font-weight: bold;
    text-transform: uppercase;
}
.discover-our-services {
    background: url("../img/outras/circle-scatter-haikei.svg") no-repeat center center;
    background-size: cover;
}
.container2{
    padding-top: 18.75rem;
}
.container3{
    padding-top: 8rem;
}
.info-text{
    padding-bottom: 3rem;
}
.info-text p{
    font-family: Old Standard TT, serif;
    font-size: 1.35rem;
}
.form-control{
    font-size: 1.4rem;
    font-family: Old Standard TT, serif;
    padding: 0.5rem 1rem;
}
iframe{
    width: 32.5rem;
    height: 21.8rem;
}
.logo{
    width: 8.9rem;
    height: 6.8rem;
    margin-bottom: 8rem;
}
#footer{
    border-top: 1px solid white;
}
.footer-top{
    padding-top: 5rem;
    padding-bottom: 1.8rem;
}
.social-icons{
    transition: all 0.4s ease;
    width: 100%;
    height: 3.75rem;
}
.social-icons a{
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: white;
}
footer .footer-links a{
    padding: 0.4rem;
    display: block;
    color: white;
    font-weight: 400;
    font-size: 1.4rem;
    text-decoration: none;
    font-family: Old Standard TT, serif;
}
footer .footer-links a:hover, .social-icons a:hover{
    transition: all .4s ease;
    color: gray;
}
.footer-top .container .row .col-md-2 p{
    font-family: Old Standard TT, serif;
    font-size: 1.4rem;
}
.footer-bottom{
    border-top: gray 0.8px solid;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}
.footer-bottom p{
    color: gray;
    font-size: 1.2rem;
}

#reservas{
    background: url('../img/bg/bg-reservas.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-reservas .nav-list{
    width: 85%;
    border-bottom: rgba(255, 249, 239, 0.3) solid 1px;
}
.formulario-reservas{
    background: #FFF9EF;
}
.formulario-reservas .container p{
    align-items: center;
    font-weight: 400;
    font-size: 1.2rem;
    color: #42563A;
    font-family: Old Standard TT, serif ;
}
.formulario-reservas .container .row .col-12{
    margin: auto;
    max-width: 34.5rem;
}
.horarios{
    background: #FFFEFC;
}
.horarios .container .row .col p{
    font-family: Old Standard TT, serif;
}
.horarios .container .row .col-lg-6{
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.horarios .container .row img{
    width: 19rem;
    justify-content: center;
}
.navbar-toggler {
    color: black;
    background: #a5794d;
}

#reservas .container .sub-headline{
    font-size: 10rem;
    font-family: Old Standard TT, serif;
    text-transform: uppercase;
    font-style: italic;
}
#reservas .container .cta-btn{
    padding: 1.6rem;
    border: white 1px solid;
    background: none;
    color: white;
    border-radius: 0;
}

#reservas .container .cta-btn:hover{
    background: white;
    color: black;
}
.nav-list{
    font-size: 3rem;
}